body{
   margin-left: 25%;
   margin-right: 20%;
   
}
 
 #other{
    background-color: rgb(156, 230, 230);;
    color: black;
    font-style: normal;
 }

 div{
   border: solid 3px;
   color: rgb(13, 15, 15);
   padding: 22px;
   background-color:rgb(159, 159, 139);
   
 }
#div1{
   color:black;
   background-color: rgb(102, 228, 224);
   text-align: center;
   text-decoration-color:black;
   
}
#submit{
   color:white;
   background-color: green;
}
#reset{
   background-color: red;
   color: white;
}
#text{
   color: black;
}
